/* Base styles for all devices */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.signature {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #005e23;
    padding: 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.banner .line {
    background-color: #ffffff;
    height: 10px;
    width: 100%;
    margin: 2rem 0;
}

.content p {
    text-align: center;
    margin: 1rem 0;
}

.content {
    padding: 2% 5%;
    background-color: #e9e9e9;
    color: #000000;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.social-icons img {
    height: 50px;
    width: 50px;
}

.social-icons a {
    color: #005e23; /* Set the icon color */
    font-size: 24px; /* Adjust size as needed */
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #003d16; /* Optional: Change to a darker shade for hover effect */
}

.social-icons .fab {
    color: #005e23; /* Set the icon color */
    font-size: 24px; /* Adjust size as needed */
    margin: 0 10px;
}

.social-icons .fab:hover {
    color: #003d16; /* Optional: Change to a darker shade for hover effect */
}

.map-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}

.container {
    display: flex;
}

.location {
    width: 100%;
}

iframe {
    width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
    .banner {
        padding: 2rem;
    }

    .content {
        padding: 5%;
    }

    .social-icons img {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 1rem;
    }

    .content {
        padding: 10%;
    }

    .social-icons img {
        height: 30px;
        width: 30px;
    }
}
